<div class="show-header">
  <h1 class="show-header-h1"> <%= link_to"〈", dashboard_index_path, class: "arrow" %> Booking requests for <%= @animal.name %></h1>
</div>

<div class ="dash-request">
  <ul class="remove-dots">
    <% @animal.bookings.each do |booking| %>
      <li>
        <div class="request-card">
          <div class="request-details">
          <div class="request-img" style="background-image: url(<%= cl_image_path booking.animal.photos.first.key %>)">
            <%= link_to booking.animal.name, animal_path(booking.animal) %>
          </div>
            <ul class="request-list">
              <li><strong>Booking details</strong></li>
              <li><strong>Start Date</strong> <%= booking.date_start %></li>
              <li><strong>End Date</strong> <%= booking.date_end %></li>
              <li><strong>Requestor</strong> <%= booking.user.first_name %> <%= booking.user.last_name %></li>
              <li><strong>Status</strong> <%= booking.status.capitalize %></li>
            </ul>
          </div>
          <div class="request-buttons">
              <% if booking.pending? %>
                <%= link_to "Accept", accept_path(booking), class: "button", method: :patch, controller: :bookings_controller %>

                <%= link_to "Decline", decline_path(booking), class: "button", method: :patch, controller: :bookings_controller, data: { confirm: 'Are you sure you want to decline this booking?' } %>
              <% end %>
              </li>
            <% end %>
          </div>
        </div>
  </ul>
</div>
