<div class="container box-signup">
  <h2 class="login-header">Sign up</h2>
</div>
<div id="signup-form">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="signup-categories">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :first_name,
                  required: true,
                  input_html: { autocomplete: "given-name" } %>
      <%= f.input :last_name,
                  required: true,
                  input_html: { autocomplete: "family-name" } %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :address,
                  required: true,
                  input_html: { id: "address_input" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "button signup-button" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
