
 <div class="header-container">
     <div class="banner">
    <%= image_tag 'horse.jpg', class: 'img-banner' %>
  </div>
    </div>
    <div class="header-text">
      <h1 class="bookings-header-h1">Yay! You and <%= @animal.name %> are going on an adventure together!</h1>
      

      <ul class="list-styling">
        <li>Start Date: <%= @booking.date_start %></li>
        <li>End Date: <%= @booking.date_end %></li>
        <li>Total Price: <%= @booking.total_price %>€</li>
        <li>Pick Up and Drop Off: <%= @animal.user.address%></li>
        <li>Owner Name: <%= @animal.user.first_name %> <%= @animal.user.last_name %></li>
      </ul>

  <%= link_to "Book more farm animals and impress more humans", root_path, class: "button", id: "btn-back" %>
    </div>
  </div>


</div>
