<div class="header-container">
  <div class="banner">
    <%= image_tag 'jumbotron.jpg', class: 'img-banner' %>
  </div>
  <div class="header-text">
    <h1 class="header-h1">Did you ever take a sheep on a stroll through Görlitzer Park?</h1>
    <h4 class="header-h4">Rent a farm animal and have a unique, cuddly experience</h4>
  </div>

  <div>
    <%= form_tag animals_path, method: :get do %>
    <div class="search-bar">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Type of Farm Animal"
      %>
      <%= submit_tag "Search Farm Animals", class: "search-button" %>
    </div>
    <% end %>
    
    <div class="row justify-content-center">
      <div class="col-sm-8">
      </div>
    </div>

  </div>
</div>


<% if @show_button %>
  <%= form_tag animals_path, method: :get do %>
    <%= label_tag "Difficulty Level"  %>
    <%= select_tag(:search, options_for_select(Animal::CARE_LEVEL, params[:search]))  %>
    <%= hidden_field_tag :query, params[:query] %>
    <%= submit_tag "Filter", class: "button" %>
  <% end %>
<% end %>

<div class="container">
      <ul class = cards>
      <% if @animals.count.positive? %>
        <h5 class="home-h3">These farm animals are cute and available</h5>
        <% @animals.each do |animal| %>
        <li class="card" style="background-image: url(<%= cl_image_path animal.photos.first.key %>)"><%= link_to animal.name, animal_path(animal) %></li>
        <% end %>
      </ul>
      <% else %>
        <h5>No farm animals match your search criteria. There are lots of animals that would like to go on an adventure. Please search again!</h5>
      <% end %>
</div>
