<div class="header-container">
  <div class="banner">
    <%= image_tag 'jumbotron.jpg', class: 'img-banner' %>
  </div>
  <div class="header-text">
    <h1 class="header-h1">Did you ever take a sheep on a stroll through Görlitzer Park?</h1>
    <h4 class="header-h4">Rent a farm animal and have a unique, cuddly experience</h4>
  </div>

  <div>
    <%= form_tag animals_path, method: :get do %>
    <div class="search-bar">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "What type of farm animal are you looking for?"
      %>
      <%= submit_tag "Search", class: "search-button" %>
    </div>
    <% end %>
  </div>
</div>


<%= form_tag animals_path, method: :get do %>
<div class="container filter">
  <%= select_tag(:search, options_for_select(Animal::CARE_LEVEL, params[:search])) %>
  <%= hidden_field_tag :query, params[:query] %>
  <%= submit_tag "Filter by Difficulty", class: "filter-btn" %>
<% end %>
</div>


<% if @animals.count.positive? %>
  <h5 class="home-h3">These farm animals are cute and available</h5>
  <div class="container">
    <ul class = cards>
      <% @animals.each do |animal| %>
        <li class="card" style="background-image: url(<%= cl_image_path animal.photos.first.key %>)"><%= link_to animal.name, animal_path(animal) %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="results-container">
    <h5>No farm animals match your search criteria.</h5> 
    <h5>There are lots of animals that would like to go on an adventure.</h5> 
    <h5>Please change your search criteria and try again!</h5>
  </div>
<% end %>

