<h1>Create New Animal Profile</h1>

<%= simple_form_for [@animal] do |f| %>
  <%= f.input :name %>
  <%= f.input :species, :collection => %w[Horse Cow Pig Dog Chicken Cat Goat Sheep Duck Goose] %>
  <%= f.input :breed %>
  <%= f.input :gender, :collection => %w[Male Femal] %>
  <%= f.input :personality %>
  <%= f.input :description %>
  <%= f.input :care_level, :collection => %w[Easy Medium Hard] %>
  <%= f.input :age %>
  <%= f.input :price_per_day %>
  <%= f.input :care_instructions %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
