<div class="show-header">
  <h1 class="show-header-h1"> <%= link_to"〈", root_path, class: "arrow" %> Meet <%= @animal.name %></h1>
</div>

<div class="container" id="show-container">


  <div class="show-img">
    <% @animal.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 350, width: 500, crop: :fill, radius: 10; %>
    <% end %>
    <div class="map-box">
      <div id="map"
        style="width: 100%; height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

  <div class="show-profile">
    <p><%= image_tag 'user-circle-solid.svg', class: "avatar dropdown-toggle" %> <%= @animal.user.first_name %> <%= @animal.user.last_name %></p>
    <p><strong>Price per day</strong> <%= @animal.price_per_day %>€</p>
    <p><strong>Gender</strong> 
      <% if @animal.gender == "Male" %> 
        <i class="fas fa-mars gender"></i>
      <% else %>
        <i class="fas fa-venus gender"></i>
      <% end %>
    | <strong>Age</strong> <%= @animal.age %> |
    <% if @animal.breed == "" %>
    <% else %>
      <strong>Breed</strong> <%= @animal.breed %>
    <% end %>   
    </p>
    <p><strong>Care level</strong> <%= @animal.care_level %></p>
    <p><strong>Personality</strong> <%= @animal.personality %></p>
    <p><strong>Description</strong> <%= @animal.description %></p>
    <p><strong>Care instructions</strong> <%= @animal.care_instructions %></p>

  <h4 class="create-booking">Book <%= @animal.name %> For An Adventure</h4>

    <div class="date-booking">
      <%= simple_form_for [@animal, @booking] do |f| %>
      <%= f.input :date_start, label: "Date of Pickup" %>
      <%= f.input :date_end, label: "Date of Drop Off" %>
      <%= f.submit :class => "button" %>
      <% end %>
    </div>

  </div>
</div>
